---
layout: page
title: Amazon Web Services
---

<strong>debug 1: </strong>

{% assign index = site.data.apis %}
{% assign apijson = index[0] %}
{% assign contents = site.data.api-commons %}

{% for api in apijson.include %}

  {% assign path = api.url  | replace: 'https://raw.githubusercontent.com/api-stack/amazon-web-services/gh-pages/_data/api-commons/','' %}
  {% assign path = path  | replace: '/apis.yaml','' %}

  {% for api in contents %}

    {% assign api_name = api[0] %}
    {% assign folder = api[1] %}
    {% if api_name == path %}

      <!--- Begin --->

      {% for item in folder %}

        {% assign item_name = item[0] %}

        {{ item_name }}<br /><hr />

      {% endif %}

      <!--- END --->

    {% endif %}

  {% endfor %}

{% endfor %}

----

{% assign contents = site.data.api-commons %}

{% for api in contents %}
  {{ api[0] }} <br />
{% endfor %}
